extends layout

block content
  h1 Journals

  // Button to add new journal
  a.btn.btn-primary(href='/journals/create') Add New Journal

  // Loop through all the journals and display basic information with action buttons
  each journal in results
    .journal-card
      .journal-title
        h3 #{journal.title}
      .journal-author
        p Author: #{journal.author}
      .journal-content
        p Content: #{journal.content.substring(0, 100)}...  // Display a preview of content
      // Action buttons: inspect, update, delete
      .journal-actions
        a.btn.btn-info(href=`/journals/${journal._id}`) Inspect
        a.btn.btn-warning(href=`/journals/${journal._id}/edit`) Update
        form(action=`/journals/${journal._id}?_method=DELETE`, method='POST')
          button.btn.btn-danger(type="submit") Delete
