extends layout

block content
  h1= title

  .container-fluid
    .row
      if results.length
        each journal in results
          .col-sm-3.bg-light.border.p-3.m-2.rounded.shadow-sm
            h5= journal.title
            p Author: #{journal.author}
            p Content: #{journal.content}
      else
        p.text-muted No journal entries found.
a.btn.btn-sm.btn-outline-primary(href=`/journals/${journal._id}/edit`) Edit
a.btn.btn-sm.btn-outline-danger(href=`/journals/${journal._id}/delete`) Delete

  else
    p.text-muted No journal entries found.

  //- Link to the form for adding a new journal entry
  a.btn.btn-primary(href="/resource/journals/new") Add New Journal Entry